
{{<base}}
    {{$header}}
        {{<header}}
            {{$title}}Tasks{{/title}}
        {{/header}}
    {{/header}}

    {{$content}}
        <h1>Your tasks - {{ tasks.userName }}</h1>
        <ul>
            {{#tasks.taskItems}}
                <li>{{title}}</li>
            {{/tasks.taskItems}}
        </ul>
    {{/content}}
{{/base}}
